infranchissable : i
franchissable : f
peut-être détruit/tué : m

0 - vide //i
1 - sol //f
2 - mur  //i
3 - mobs  //i m
4 - boss  //i m
5 - caisse  // i m
6 - porte  // f (définir règle)
7 - piege  // f
8 - piece  // f
9 - cle  // f